* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;;
}

/* Navbar */
#navbar {
  display: flex;
  background-color: rgba(0,0,0,0.6);
  color: white;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar .navbar-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
  font-size: 13px;
  transition: all 500ms ease;
}

#navbar .navbar-container ul li:hover {
  color: #CD6600;
  cursor: pointer;
}

.logo {
  height: 40px;
  width: auto;
}

/* Showcase */
#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(./img/bg.jpg) center center/cover;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: color;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#showcase .showcase-container h2 {
  font-size: 4rem;
  text-shadow:3px 4px 2px  #0b0b31;
}   

#showcase .showcase-container p {
  margin: 15px 0;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Botão */
.btn-primary {
background-image: linear-gradient(to top, #0b0b31, #013c50 130%);
border: none;
color: white;
text-transform: uppercase;
padding: 25px 70px;
border-radius: 15px;
letter-spacing: 1px;
font-weight: bold;
transition: filter 0.2s;
}

.btn-primary:hover {
  background-image: linear-gradient(to bottom, #0b0b31, #013c50  130%);
  cursor: pointer;
}

/* Pergunte ao TARS */
.section {
  background: black;
  padding: 1rem 0;
  border-top: 4px solid #1a1e22;
}

.section h1 {
font-size: 35px;
margin-bottom: 16px;
color: #CD6600;
}

.section p {
font-size: 20px;
color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.img-tars {
  position: relative;
  width: 150px;
  filter: drop-shadow(5px 5px 5px #363636);
}

.container-section {
  max-width: 1000px;
  margin: 0 auto;
}

.btn-second {
  background-color: transparent;
  border: 1px solid #CD6600;
  color: #CD6600;
  text-transform: uppercase;
  padding: 18px 118px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  transition: filter 0.2s;
  margin-top: 25px;
}

.btn-second:hover {
  background-color: #CD6600;
  color: black;
  cursor: pointer;
}


